@import "http://fonts.googleapis.com/css?family=Josefin+Sans:100,100italic,300,300italic,400,400italic,600,600italic,700,700italic" ;

.js #content {
	display:hidden;
}

.js #block-menu-primary-links a {
    font-weight:700;
}

* {
	margin: 0;
	padding: 0;
}
html {
        overflow-y: scroll;
}

html,body {
	height: 100%
}

body {
	font-family: 'Josefin Sans', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #cfbfb0;
	background: #2f2621;
}

#site-name {
	float:left;
	margin: 30px 0 0 135px;
	font-size:46px;
}

#site-name a {
  font-size:46px;
  color:#237883;
}

#banner {
  float:right;
  margin-right: 20px;
}

#navigation {
  float:left;
  width:240px;
}

#page {
  width:1011px;
  margin: 0 auto;
}

#content {
  float: right;
  padding-top: 20px;
  width:750px;
}

#logo {
  float:left;
  margin: 30px 0 0 20px;
}

#mission {
  text-indent: 200px;
  font-size:18px;
}

#main-wrapper {
  width: 1010px;
  float:right;
}

#sidebar-first
{
  width:240px;
  clear: left;
}
ul, ul li {
	list-style: none;
	list-style-image: none;
	list-style-type: none;
}

table {
	border-collapse: collapse;
	border: 0px;
}

td {
	vertical-align: top;
	padding: 0px;
}


.content ul li {
	margin:0 0 25px 0;
}

tbody {
	border: none;
}

a {
	outline: none;
	text-decoration: none;
  color: #CFBFB0;
}

li a.active {
    color: #cfbfb0;
}

img,a img {
	border: 0;
}
	
.imbul {
		border:hidden !important;
		position: absolute;
    margin: 2px 0 0 -5px;
}
	
#block-menu-primary-links .content ul.menu li a.active {
   background: url(images/a3.png) no-repeat 0 center;
}

#block-menu-primary-links .content ul.menu li li { 
	padding-left:15px;
}

#footer,.push {
	height: 80px;
}

.content {
  clear:left;
}

.clear {
	clear: both;
}

/**************---TITLES---**************/
h1 {
	font-size: 27px;
	font-weight: normal;
}

h1.title {
	background: none;
	font-size: 27px;
    font-weight: bold;
}

#tabs-wrapper h2 {
	background: none; ! important;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: normal;
}

h2 {
	font-size: 25px;
	padding: 8px 0px 0px 0px;
	font-weight: normal;
}



h2.with-tabs {
	padding-left: 0px;
	padding-top: 10px;
}

.block h2 {
	display: block;
	border-bottom: #bcbcbc 1px solid;
	font-size: 12px;
	line-height: 22px;
	margin: 0;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0;
}

h3 {
	padding: 5px 0px;
}

h3 a {
	text-decoration: none;
}

#aggregator .feed-item-title {
    font-size:inherit;
}
.block .title {
	padding: 0;
	width: 100%;
}

.title h3 {
	font-size: 30px;
	padding: 0px;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.admin-panel h3 {
	font-size: 15px;
}

li.comment_add {
	background:none;
}

.submitted {
    display: block;
    font-size: smaller;
    margin-bottom: 18px;
}
	
 .form-text, .form-select, .form-textarea {
  background: none repeat scroll 0 0 transparent;
  border: 1px  solid #cfbfb0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color:#cfbfb0;
  padding: 4px;
}


#edit-submit , .form-submit {
	float:none;
	background: #3f3631; repeat scroll 0 0 transparent;
  border: 1px  solid #cfbfb0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color:#cfbfb0;
	cursor:pointer;
  padding:3px;
	margin:5px 0 10px 0;
	text-align:center;
}

#edit-submit:hover {
	background: #2f2621; repeat scroll 0 0 transparent;
}

fieldset {
	border: 1px solid #82775d;
	overflow: hidden;
	position: relative;
  clear: both;
}

fieldset legend {
	color: #9D1A1B;
}

html.js fieldset.collapsed legend {
	display: inline;
}

fieldset a {
	color: #237883;
}

fieldset .tips {
	font-size: 10px;
}

table.system-status-report th,thead th {
	border-bottom: 1px solid #82775d;
}

thead th,th,tr.even,tr.odd {
	padding: 0px;
	border-bottom: 1px solid #82775d;
}

/*------Custom Login-Form------*/
.userlogin {
	font-size: 15px;
	padding: 0px 0px 0px 28px;
	margin-left: 18px;
	margin-top: 20px;
	font-weight: bold;
}

#user-bar {
	font-size: 11px;
	font-weight: bold;
	padding: 32px 0px 0px 0px;
}

#user-bar .user-info {
	padding-bottom: 5px;
	padding-top: 10px;
}

#user-bar .item-list li {
	list-style: none;
	list-style-image: none;
	line-height: 10px;
}

#user-bar .item-list li a {
	font-weight: normal;
	font-size: 10px;
}

#user-bar .item-list li a:hover {
	color: #FFF;
}

/*----Login-form----*/
#user-login-form {
	text-align: left;
	color: #FFF;
	font-size: 12px;
}

#user-login-form input#edit-name, #user-login-form input#edit-name-1, #user-login-form input#edit-pass, #user-login-form input#edit-pass-1
	{
	width: 227px;
	font-size: 12px;
	color: #8a7e66;
	font-family: Arial, Helvetica, sans-serif;
	background: none;
	border: 1px solid #bab19d;
	padding: 3px 0px 3px 5px;
	line-height: normal;
}

#user-login-form label {
	color: #8a7e66;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 0px 2px 0px;
}

#user-login-form .form-required {
	color: #6d5f52;
	display: none;
}

#user-login-form .description a {
	color: #47a4bb;
}

#user-login-form .item-list ul {
	padding: 4px 0px 0px 0px;
}

#user-login-form .item-list li {
	line-height: 24px;
	list-style: none;
	list-style-image: none;
	margin: 0px;
	padding: 0;
}

#user-login-form .item-list li a {
	font-weight: normal;
	font-size: 13px;
}

#user-login-form .item-list li a:hover {
	text-decoration: none;
}

#user-login-form .form-submit {
	background: url(images/login.gif) no-repeat 0 0px;
	border: none;
	width: 48px;
	height: 20px;
	margin: 14px 0px 11px 0px;
	color: #fff;
	font-size: 12px;
	padding: 0px 0px 3px 6px;
	text-transform: lowercase;
	font-weight: normal;
	cursor: pointer;
}

#user-login-form .form-item {
	margin-top: 0px;
	margin-bottom: 2px;
}

/*-------------------------*/
/*----POLL----*/
.poll .percent,.poll .text {
	color: #585c5c;
	font-size: 13px;
}

.poll .title {
	color: #585c5c;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 10px;
	background: none;
	padding-left: 0px;
}

.poll .total {
	font-weight: normal;
	color: #585c5c;
	font-size: 12px;
	text-align: left;
}

.poll .bar {
	background: #fff;
	font-size: 1px;
	height: 7px;
	border: 1px solid #cfcfcf;
	padding: 1px;
}

.poll .bar .foreground {
	background: #9D1A1B;
	font-size: 1px;
	height: 7px;
}

.form-item label {
	margin-bottom:3px;

}

#block-poll-0 ul.links {
	padding-left: 0px;
}

#block-poll-0 ul.links .first {
	padding: 0px;
}

#cont #block-poll-0 ul.links li {
	background: none;
}

/*-----LISTS-----*/

#sidebar-first ul li, #navigation ul li{
  display:block;
  padding:0px;
}
ul li.collapsed , ul li.expanded{
    list-style-image: url("images/bullet.png");
    list-style-type: none;
    list-style-position: inside;
}


#cont-col .content ul li ul {
	margin-left: 15px;
}

#cont-col .content ul li ol {
	margin-left: 20px;
}

#cont-col .content ul li ol li {
	list-style-type: decimal;
}

/*---Numeric Lists without links---*/
#cont-col .content Ol {
	padding-left: 2px;
}

#cont-col .content Ol li {
	background: none;
	padding: 0px;
	margin-left: 20px;
	line-height: 25px;
}

#cont-col .content Ol li ul li {
	background: url(images/a3.gif) no-repeat 0 11px;
	padding-left: 12px;
	font-weight: normal;
}

/*---nonNumeric Lists---*/
#cont-col .content ul li {
	list-style-image: none;
	list-style: none;
	line-height: 25px;
	font-size: 12px;
}

#cont-col .content ul li a {
	color: #9D1A1B;
	font-weight: normal;
	text-decoration: underline;
	font-size: 12px;
}

#cont-col .content ul li a:hover {
	text-decoration: none;
}

#cont-col .content ul li ul {
	margin-left: 15px;
}

#cont-col .content ul li ol {
	margin-left: 20px;
}

#cont-col .content ul li ol li {
	list-style-type: decimal;
}

#cont-col .content ul li ol li a {
	background: none;
}

/*---Numeric Lists---*/
#cont-col .content Ol {
	padding-left: 2px;
	font-size: 12px;
}

#cont-col .content Ol li {
	background: none;
	padding: 5px 0px 5px 0px;
	margin-left: 20px;
	line-height: 25px;
}

#cont-col .content Ol li a {
	padding-left: 0px;
	color: #9D1A1B;
	font-weight: normal;
	text-decoration: underline;
	font-size: 12px;
}

#cont-col .content Ol li a:hover {
	text-decoration: none;
}

#cont-col .content Ol li ul li a {
	font-weight: normal;
	text-decoration: underline;
}

#cont-col .content Ol li ul li a:hover {
	text-decoration: none;
}

/*---Paragraph Style---*/
.content p {
	padding-bottom: 24px;
	}

.comment p
{
	padding-bottom: 4px;
	}
	
#cont-col .content blockquote {
	border: 1px solid #7f7f7f;
	background: #f1f1f1;
	padding: 5px;
	margin: 10px 0px 10px 0px;
}

.item-list ul li {
	list-style-image: none;
	list-style: none;
}

#profile-admin-overview ul li {
	background: none;
	padding: 0px;
	list-style-image: none;
	list-style: none;
	margin: 0;
	line-height: 20px;
}

#profile-admin-overview ul li a {
	background: url(images/a1.gif) no-repeat 0 5px;
	padding-left: 10px;
	color: #505050;
	font-weight: normal;
}

#profile-admin-overview ul li a:hover {
	text-decoration: none;
	color: #ce2a11;
}

.password-description ul {
	margin-left: 5px;
}

.password-description ul li {
	background: url(images/a1.gif) no-repeat 0 7px;
	padding-left: 10px;
	list-style-image: none;
	list-style: none;
	margin: 0;
	line-height: 12px;
}

#node-admin-content ul {
	margin-left: 5px;
}

#node-admin-content  ul li {
	background: url(images/a1.gif) no-repeat 0 7px;
	padding-left: 10px;
	list-style-image: none;
	list-style: none;
	margin: 0;
	line-height: 17px;
}


ul.links.inline {
	padding-right: 0px;
}

.cent ul.links li a {
	color: #104d0c;
	font-weight: normal;
	font-size: 11px;
	text-transform: capitalize;
	background: none;
	text-decoration: none;
	padding: 0px;
}

.cent ul.links li a:hover {
	text-decoration: underline;
}

#comments ul.links li a {
	color: #9D1A1B;
}

.taxonomy ul.links li a,#forum ul.links li a {
	color: #bd1900
}

/*------END LIST------*/
ul.primary,ul.primary li,ul.secondary,ul.secondary li {
	border: 0;
	background: none;
	margin: 0;
	padding: 0;
}



ul.tabs li {
	display: block;
	margin-right: 2px;
	float: left;
}

ul.tabs li span {
	display: block;
}

ul.tabs	li span span {
	text-align: center;
	display: block;
}

ul.tabs	li a {
	color: #8a7e66 !important;
	font-size: 15px;
	font-weight: normal;
	background: none;
	padding: 5px 13px;
	margin: 0px;
	display: block;
}

ul.tabs	li a:hover {
	color: #fff !important;
	margin: 0px;
	border: none;
	background: #885e46;
	-moz-border-radius: 4px 4px 0 0; /* Firefox */
	-webkit-border-radius: 4px 4px 0 0; /* Safari, Chrome */
	-khtml-border-radius: 4px 4px 0 0; /* KHTML */
	border-radius: 4px 4px 0 0; /* CSS3 */
}

#tabs-wrapper {
	margin: 0px 0px 5px 0px;
	padding: 0;
	border-bottom: 1px solid #b6b6b6;
}

fieldset legend , .marker, .form-required {
    color:#237883;
}

tr.even, tr.odd {
  background-color:#885e46;
  }

.imbul {
  width:8px;
  height:7px;
  background:url(images/bullet.png);
  margin: 12px 0 0 -10px;
}
